@if (pageLoading$ | async) {
<div
  class="text-center absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2"
>
  <app-spinner />
</div>
}@else if(!(allCategories$ | async).success) {
<p
  class="text-center sm:text-3xl text-lg absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2"
>
  Something went wrong please try again later💥💥.
</p>
}@else {
<div
  class="m-4 relative"
  [ngClass]="{
    isEmpty: (allCategories$ | async).data.length === 0
  }"
>
  <div>
    @if ((allCategories$ | async).data.length === 0) {
    <p
      class="sm:mb-12 mb-6 sm:text-3xl text-xl text-textColor dark:text-textColor-dark"
    >
      No Categories Available !!
    </p>
    }@else {
    <div class="flex items-center justify-between mb-3">
      <p
        class="text-2xl font-semibold tracking-wider text-textColor dark:text-textColor-dark"
      >
        All Categories
      </p>
      <div class="relative sm:mr-0 -mr-12">
        <input
          type="text"
          placeholder="Search..."
          (input)="onSearchChange($event)"
          class="pl-10 pr-4 py-2 sm:w-full w-[75%] border dark:border-gray-500 rounded-full text-sm bg-backgroundBody dark:bg-background-dark text-textColor dark:text-textColor-dark"
        />
        <i
          class="pi pi-search absolute left-3 top-1/2 -translate-y-1/2 text-gray-500"
        ></i>
      </div>
    </div>
    <hr />
    <div class="flex flex-col sm:flex-row flex-wrap gap-4 mt-2 ml-8 sm:ml-0">
      @for (category of (allCategories$ | async).data; track $index) {
      <div class="flex gap-4">
        <div>
          <app-dashboard-itemcard [cardInfo]="{ title: category.name }">
            <div class="p-4 flex flex-col gap-y-4">
              <img
                class="h-[250px] w-full bg-cover rounded-lg border border-gray-300"
                [src]="category.image.secure_url"
                alt=""
              />
              <div class="flex items-center justify-between">
                <a
                  [routerLink]="['/categories', category.name, 'subcategories']"
                  class="text-lg flex items-center gap-x-2 group"
                  (click)="onGetCategoryId(category.id)"
                >
                  <span>Sub Categories</span>
                  <i
                    class="pi pi-arrow-right duration-150 transform group-hover:translate-x-2"
                  ></i>
                </a>
                <div class="flex gap-x-4 items-center">
                  <a (click)="onEditCategory(category)"
                    ><i
                      class="pi pi-pen-to-square text-gray-700 cursor-pointer"
                    ></i
                  ></a>
                  <a
                    *ngIf="!(loadingMap$ | async)?.[category.id]; else loadingTemplate"
                    (click)="onDeleteCategory(category.id)"
                  >
                    <i class="pi pi-trash text-red-500 cursor-pointer"></i>
                  </a>

                  <ng-template #loadingTemplate>
                    <app-spinner />
                  </ng-template>
                </div>
              </div>
            </div>
          </app-dashboard-itemcard>
        </div>
      </div>
      }
    </div>

    }
  </div>

  <div>
    @if ((allCategories$ | async).data.length !== 0) {
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="(allCategories$ | async).pagination.count"
    />
    }
    <div [ngClass]="{ notEmpty: (allCategories$ | async).data.length !== 0 }">
      <app-category-upload />
    </div>
  </div>
</div>
}

<!--

    <div
    class="flex items-center relative"
    [ngClass]="{ notEmpty: (allCategories$ | async).data.length !== 0 }"
  >
    @if ((allCategories$ | async).data.length !== 0) {
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="(allCategories$ | async).pagination.count"
    />
    }
    <app-category-upload />
  </div> -->
