<div
  class="m-4"
  [ngClass]="{
    isEmpty: categories.length === 0
  }"
>
  <div>
    @if (categories.length === 0) {
    <p
      class="sm:mb-12 mb-6 sm:text-3xl text-xl text-textColor dark:text-textColor-dark"
    >
      No Sub Categories Available !!
    </p>
    }@else {
    <div class="flex flex-wrap gap-4">
      <div>
        <app-dashboard-itemcard [cardInfo]="{ title: 'xxx' }">
          <div class="p-4 flex flex-col gap-y-4">
            <img
              class="h-[250px] w-full bg-cover rounded-lg border border-gray-300"
              src="470136208_451740147981317_4608078338840872271_n.jpg"
              alt=""
            />
            <div class="flex items-center justify-between">
              <a
                [routerLink]="['/categories', 'subcategories']"
                class="text-lg flex items-center gap-x-2 group"
              >
                <span>Products</span>
                <i
                  class="pi pi-arrow-right duration-150 transform group-hover:translate-x-2"
                ></i>
              </a>
              <div class="flex gap-x-4 items-center">
                <a [routerLink]="['']"
                  ><i
                    class="pi pi-pen-to-square text-gray-700 cursor-pointer"
                  ></i
                ></a>
                <a [routerLink]="['']"
                  ><i class="pi pi-trash text-red-500 cursor-pointer"></i
                ></a>
              </div>
            </div>
          </div>
        </app-dashboard-itemcard>
      </div>
    </div>

    }
    <app-subcategory-upload [ngClass]="{ notEmpty: categories.length > 0 }" />
  </div>
</div>
