<div class="">
  <p-drawer
    #drawerRef
    [(visible)]="visible"
    [modal]="true"
    (onHide)="handleDrawerClose()"
    styleClass="sm:w-[17%] w-[61%]"
  >
    <ng-template #headless>
      <div class="flex flex-col h-full bg-background dark:bg-background-dark">
        <!-- هيدر -->
        <div
          class="flex justify-center items-center pt-9 pb-7 text-textColor dark:text-textColor-dark"
        >
          <p class="menu-logo text-2xl uppercase tracking-widest">marcello</p>
        </div>
        <!-- بدي -->
        <div class="overflow-y-auto text-black">
          <ul class="list-none p-4 m-0">
            <app-sidenav-body />
          </ul>
        </div>
        <!-- فوتر -->
        <div class="mt-auto">
          <hr class="mb-4 mx-4 border-t border-0 border-surface" />
          <app-sidenav-footer />
        </div>
      </div>
    </ng-template>
  </p-drawer>
</div>
