<div class="h-full bg-backgroundBody dark:bg-backgroundBody-dark">
  @if (( authMode$| async) === "Logout") {
  <div class="grid grid-cols-12">
    <div
      [class]="{
        'col-span-2':isVisible$ | async,
      }"
    >
      <app-sidenav />
    </div>
    <div
      class="sm:p-7 p-[14px]"
      [class]="{
    'col-span-10':isVisible$ | async,
    'col-span-12':!(isVisible$ | async),
  }"
    >
      <app-navbar />
      <div class="mt-5">
        <div class="block sm:hidden mb-4 ml-3">
          <app-dashboard-title [title]="title" />
        </div>
        <router-outlet />
      </div>
    </div>
  </div>
  }@else {
  <app-login-page />
  }
</div>
