<div class="grid grid-cols-12 gap-4 p-3">
  <div
    class="xl:col-span-8 col-span-12 bg-background dark:bg-background-dark rounded-xl p-4 shadow-lg"
  >
    <div class="mb-10">
      <h1 class="text-[#227391] text-xl font-bold tracking-wide">
        Overview Info
      </h1>
    </div>
    <app-overview-info />
  </div>

  <div
    class="xl:col-span-4 col-span-12 bg-background dark:bg-background-dark rounded-xl shadow-lg"
  >
    <app-visitor-insights />
  </div>

  <div
    class="xl:col-span-6 col-span-12 bg-background dark:bg-background-dark rounded-xl shadow-lg"
  >
    <app-total-revenue />
  </div>

  <div
    class="xl:col-span-3 col-span-12 bg-background dark:bg-background-dark rounded-xl shadow-lg"
  >
    <app-customer-satisfaction />
  </div>

  <div
    class="xl:col-span-3 col-span-12 bg-background dark:bg-background-dark rounded-xl shadow-lg"
  >
    <app-category-sales />
  </div>

  <div
    class="xl:col-span-9 col-span-12 bg-background dark:bg-background-dark rounded-xl shadow-lg"
  >
    <app-recent-sales />
  </div>

  <div
    class="xl:col-span-3 col-span-12 bg-background dark:bg-background-dark rounded-xl shadow-lg"
  >
    <app-top-products />
  </div>
</div>
