<div class="flex flex-col gap-5">
  <p class="section-title font-bold text-[12px] uppercase">dashboards</p>
  <li>
    <a
      [routerLink]="['']"
      pRipple
      class="flex items-center cursor-pointer duration-150 transition-colors p-ripple"
    >
      <i class="pi pi-home mr-2"></i>
      <span class="font-bold">E-Commerce</span>
    </a>
  </li>
  <li>
    <a
      [routerLink]="['users']"
      pRipple
      class="flex items-center cursor-pointer duration-150 transition-colors p-ripple"
    >
      <i class="pi pi-user mr-2"></i>
      <span class="font-[500]">Users</span>
    </a>
  </li>
  <li>
    <a
      [routerLink]="['login']"
      pRipple
      class="flex items-center cursor-pointer duration-150 transition-colors p-ripple"
    >
      <i class="pi pi-cog mr-2"></i>
      <span class="font-[500]">Login</span>
    </a>
  </li>
</div>

<!-- <div class="flex flex-col gap-5">
  <p class="section-title font-bold text-[12px] uppercase">dashboards</p>
  <li>
    <a
      [routerLink]="['']"
      pRipple
      class="flex items-center cursor-pointer duration-150 transition-colors p-ripple"
    >
      <i class="pi pi-home mr-2"></i>
      <span class="font-bold">E-Commerce</span>
    </a>
  </li>
  <li>
    <a
      [routerLink]="['users']"
      pRipple
      class="flex items-center cursor-pointer duration-150 transition-colors p-ripple"
    >
      <i class="pi pi-user mr-2"></i>
      <span class="font-[500]">Users</span>
    </a>
  </li>
  <li>
    <a
      [routerLink]="['login']"
      pRipple
      class="flex items-center cursor-pointer duration-150 transition-colors p-ripple"
    >
      <i class="pi pi-cog mr-2"></i>
      <span class="font-[500]">Login</span>
    </a>
  </li>
</div>
 -->
